@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff40;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-playfair);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



::selection {
  background-color: #008cff; /* Zde dej svou barvu (např. žlutá) */
  color: #ffffff;            /* Barva textu uvnitř výběru (např. černá) */
}

/* Pro podporu starších prohlížečů (Firefox) */
::-moz-selection {
  background-color: #008cff;
  color: #ffffff;
}